html, body { height:100%; margin:0; padding:0; color: #FE9E23;}

.example::-webkit-scrollbar {
    display: none;
}

hr{
    border-color: gray;
    height: 1px;
}
body {
    font-family: Source Code Pro !important;
    font-size: 12px;
    background-color: black;
}

img{
  height: 10px;
  padding-left: 2px;
  float: right;
  padding-top: 2px;
}

div{
    background-color: black;
}

p { color: white}

main {
    display: flex;
    height: 100%;
    width: 100%;
    position:fixed;
  }
  
  section {

    flex-basis: 333px;
    overflow-y:auto;
  }
  
  aside {
    overflow-y:none; 
    flex-basis: 333px;
    flex-grow: 1;
  }

  #S { top:0;   background-color:black; height:35%; text-overflow: ellipsis; }
  #E { top:50%;   background-color: black; height:65%;  overflow-y:auto;  margin:2px; }
  #N {  background:black; overflow-y:auto;  }    
  #S {  background:black; overflow-y:auto;  }   
  #W {margin:2px; overflow-y: hidden;}

::-webkit-scrollbar {
  display: none;
}
table{
  width: 100%;
}

caption{
  color: white;
}

a{
  color: #FE9E23;
}

a:link {
    text-decoration: none;
}

a:visited {
text-decoration: none;
}
#sf {position:fixed; bottom: 0; background: black; min-width: 100000px;
}

#ticker-in{
  width: 35px;
  background-color: black;
  color: white; 
}
